/*
 |--------------------------------------------------------------------------
 | Common stylesheet.
 |--------------------------------------------------------------------------
*/

.google-maps {
    width: 100%;
    height: 500px;
}
