/*
 |--------------------------------------------------------------------------
 | Common stylesheet.
 |--------------------------------------------------------------------------
*/

main,
section {
	padding-top: 30px;
	padding-bottom: 30px;
	@include media-breakpoint-up(md) {
		padding-top: 50px;
		padding-bottom: 50px;
	};
}

mark {
	color: $secondary;
	background-color: transparent;
	display: inline;
	padding: 0;
}

.navbar-spacer {
	height: $navbar-height-mobile;
	@include media-breakpoint-up($navbar-trigger) {
		height: $navbar-height;
	};
}
