.login-box {
   &-title{
      margin-bottom:1.5rem;
   }
   &-content{
      border-radius: .75rem!important;
      box-shadow: 3px 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)!important;
      border:1px solid $gray-200;
      padding:2rem;
   }


}
.login-form{
   &-not-registered{
      border-top:1px solid $gray-200;
      padding-top:1.5rem;
      text-align: center ;
   }
   &-support{
      padding-bottom:1.5rem;
   }
}
.auth-box{
   &-title{
      margin-bottom:1.5rem;
   }
   &-content{
      border-radius: .75rem!important;
      box-shadow: 3px 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)!important;
      border:1px solid $gray-200;
      padding:2.5rem;
   }
}
