.products {
  &__card {
    border: 0px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5rem;
    position: relative;


    &:hover {
      img {
        opacity: 0.8;
      }

      border: 0px solid $primary;
    }

    &-on-sale{
      position:absolute;
      top:20px;
      right: 0px;
      padding: 0.30rem 0.5rem;
      color:white;
      background-color: $color-price-discount;
      border-color: $color-price-discount;;

      &::before, &::after {
        content: "";
        position: absolute;
        display: block;
        right: 100%;
        top: 0;
      }
      &::before{

          height: 0%;
          border-top: 1em solid;
          border-top-color: inherit;
          border-bottom: 1em solid;
          border-bottom-color: inherit;
          border-left: 1em solid transparent;

      }
    }


    .btn {
      padding: 0.2rem 1rem;
      font-size: 0.9rem;
    }

    .card-title {
      font-weight: 500;
      font-size: 1rem;
      margin: 0;
      color: $color-6;
    }

    .card-code {
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }

    .card-price {
      font-size: 1.25rem;
      color: $primary;
      margin: 0.4rem 0;

      &-final {
        margin-left: 0.25rem;
        font-weight: bold;
      }
    }
  }
}

// product  page

.product-page {
  padding: 0rem 0rem 1rem;
  @include media-breakpoint-up(sm) {
    padding: 0rem;
    background: linear-gradient(90deg, transparent 50%, $color-5 50%);
  }

  &-card {
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    @include media-breakpoint-up(md) {
      padding: 2.5rem;
    }
  }

  &-title {
    margin: 0;
  }

  &-code {
    margin: 0;
  }

  &-description {
    margin: 1rem 0 0;
  }

  &-price {
    color: white;
    background: $color-6;
    border-radius: 5rem;
    display: inline-flex;
    margin: 1.5rem 0rem;
    font-weight: normal;
    @include transition();

    &:hover {
      background: $color-accent;

    }

  }

  &-price-final {
    padding: 0.25rem 0.5rem;
    @include transition();
    margin: 0rem 0.25rem;


  }

  &-price-full {
    color: white;
    background: $color-accent;
    border-radius: 5rem;
    transition: all 0.2s ease-in-out;
    padding: 0.25rem 0.5rem;
    @include transition();

    &:hover {
      background: $color-accent;
    }
  }

  &-add {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
  "label"
  "input"
  "action";
    column-gap: 10px;
    row-gap: 15px;
    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-areas:
  "label input"
  "action action";
    }

    &-label {
      grid-area: label;
      align-self: center;
    }

    &-input {
      grid-area: input;

    }

    &-button {
      grid-area: action
    }
  }

  p {
    margin: 0px;
  }

  .form {
    padding: 0px;
  }

}


