.slider {
    position: relative;

    &-text {
        margin-top: 1rem;
        text-align: center;

        @include media-breakpoint-up(md) {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translate(0, -50%);
            margin-top: 0;
        }
    }

    .owl-dots {

        @include media-breakpoint-up(md) {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
        }
    }
}

.swiper-wrapper{
    padding-bottom: 30px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0px !important;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}
.swiper-pagination-bullet-active{
    background:blue;
    opacity: 1;
}


