
.social-login {
   margin:1.5rem 0rem 0rem;
   &-header{

   }
   &-title{
      color: $color-text;
      font-size: 1rem;
      position: relative;
      padding: 1em 3.5em;
      letter-spacing: .1em;
      line-height: 1em;
      transition: all .3s ease-in-out;
      display: inline-block;
      &:after,&:before{
         content: "";
         position: absolute;
         display: block;
         height: 1px;
         width: 4em;
         top: 50%;
         background-color:  $color-4;
      }
      &:before{
         left: -1.25rem;
      }
      &:after{
        right: -1.25rem;
      }
   }

   &-item{
       margin-bottom:1rem;
   }

}
.btn-social {
   border: 1px solid $color-4;
   background-color: transparent;
   color: $color-text;
   padding: 0.4rem 2rem;
   font-weight: 600;
}
