.shopping-cart {
  display: none;
  @include media-breakpoint-up($navbar-trigger) {
    display: block;
  }
  .dropdown-menu {
    font-size:0.8rem;
    padding-top:0;
    padding-bottom: 0.25rem;
    .dropdown-item{
      position: relative;
      padding: 0.5rem 2.5rem 0.5rem 0.5rem;
      line-height: 1.1rem;
      &:active {
        background: transparent;
      }
      &.checkout-link{
          padding: 0.5rem 0.5rem 0.25rem;
      }
      &:nth-child(even){
        background: #e6e6e6;
      }
      .shopping-cart-item{
          display: flex;
          align-items: flex-start;
          .shopping-cart-item-body{
            flex: 1;
          }
      }
      .shopping-cart-delete{
        position: absolute;
        top:10px;
        right:10px;
        cursor:pointer

      }
      img {
         width:50px;
         height:50px;
         margin-right: 0.5rem;
      }
    }
  }

  .btn-checkout{
    padding: 0.25rem
  }
}

.navbar-cart{
   margin:0rem 1rem 0rem 0.7rem ;
  @include media-breakpoint-up($navbar-trigger) {
    display: none;
  }
}
