#action-bar {
	background-color: $color-4;
	padding: 1em;
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	i {
		margin: 0;
	}

	> .actions {
		margin-left: auto;
		display: flex;

		> a {
			margin-left: 0.2em;
			padding: 0.5em 1em;
			@include shadow(1);
		}
	}
}
