#filemanager {
  font-size: 16px;

  .modal-xl {
    width: 98%;
    max-width: 98%;
  }

  .modal-header {
    background-color: $color-6;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 0;

    h4 {
      font-size: 1.2rem;
      color: $primary;
      margin: 0.5rem 0rem;
    }

  }

  .modal-action {
    background-color: $color-6;
    display: flex;
    justify-content: start;
    padding: 0.5rem 1rem 1rem;

    .nav-tabs {
      margin-bottom: 0;
    }
  }

  .modal-body {
    background-color: #F1F5F8;
    height: 100vh;
    max-height: 700px;
    max-width: 100%;
    padding-top:0;

    #tab-upload .queue {
      height: 450px;
    }

    .loading {
      color: #b0b0b0;
      margin: 50px 0;
    }

    .filemanager-list {
      display: flex;
      flex-wrap: wrap;
      height: 100vh;
      max-height: 700px;
      overflow-y: scroll;

      .thumbnail {
        &-item {
          border-radius: 0.5rem;
          position: relative;
          overflow: hidden;
          color: $color-3;
          border: 1px solid $color-6;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 190px;
          background-color: white;

          &:hover {
            .thumbnail-caption {
              opacity: 1;
              transform: translateY(0px);
              transition: transform 0.4s, opacity 0.1s;
            }
          }

          img {
            border-radius: 0.5rem;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
          }

          i{
            color: #8A9099
          }


          &.active {
            &:before {
              content: '';
              background-color: rgba(0, 0, 0, 0.25);
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }

            &:after {
              content: "\f00c";
              color: #ffffff;
              font: 700 normal normal 50px/1 "Font Awesome 5 Free";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .action{
            top: 0.75rem;
            right: .75rem;
            &:hover{
              color: #444546
            }
          }
        }

        &-caption {
          position: absolute;
          width: 100%;
          bottom: 0;
          opacity: 0;
          transform: translateY(100%);
          background-color: rgba(0, 0, 0, .75);
          backface-visibility: hidden;
          transition: transform 0.4s, opacity 0.1s 0.3s;
          padding: 0.7rem;
          width: 100%;
          color: white;
          font-size: 0.9rem;
          text-align: center;
          word-wrap: break-word;

        }
      }

    }

    #sidebar-content {
      background-color: darken($color-1, 5);
      border-left: 1px solid $color-6;
      padding: 15px;
      overflow-y: scroll;
      z-index: 10;
    }
  }

  .modal-footer {
    align-items: center;
    border-bottom-left-radius: calc(.3rem - 1px);
    border-bottom-right-radius: calc(.3rem - 1px);
    border-top: 1px solid #dee2e6;
    display: flex;
    justify-content: unset;
    padding: .75rem;
  }
}

.search-box {
  background-color: white;
  .input-group-text, .form-control {
    border: 0px;
    background-color: transparent;
  }

  border-bottom: 0px solid #8A9099;
  border-radius:0.25rem;
  margin: 1.25rem 0;
}
