#home-buttons {
	h1 {
		text-align: center;
		text-transform: uppercase;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-up(md) {
			margin: 0px 30px;
		};

	}
	.dashboard-menu{
		padding:1.5rem 0.75rem 0rem;
		> div {
			margin-bottom: 1.5rem;
			@include media-breakpoint-up(md) {
				margin-bottom:2rem;
			};
		}

	}

	.dashboard-card{
		background-color: white;
		border-bottom:5px solid rgba(26, 26, 23, 0.67);
		border-radius: 0.25rem;
		padding:0px;
		&:hover {
			border-bottom:5px solid $info;
			@include shadow(4);
			.button {
				i, h3 {
					color: $info;
				}
			}
		}
		&.shop{
			&:hover {
				border-bottom:5px solid $danger;
				@include shadow(4);
				.button {
					i, h3 {
						color: $danger;
					}
				}
			}
		}
		&.users{
			&:hover {
				border-bottom:5px solid $success;
				@include shadow(4);
				.button {
					i, h3 {
						color: $success;
					}
				}
			}
		}
	    @include shadow(3);
		@include animate();
		&-body{
			display: block;
			border-bottom: 1px solid #D1D5DB;
		}
		&-footer{
			padding:0.75rem 1.5rem;
			border-bottom-left-radius: 0.5rem;
			border-top:0;
			color: #7b7d80;
			:hover{
				i {
					color: $danger;
				}
			}
			.badge{
				&.shop{
					background-color: $danger !important;
				}
				&.users{
					background-color: $success !important;
				}
			}
		}
	}
	.dashboard-search{
		background-color: rgba(0, 0, 0, 0.03);
		margin-top:2rem;
		padding:0.75rem 0.75rem;
		margin-bottom:0rem;
		border-bottom: 1px solid $color-3;
		.form-label{
			color:$primary;
			font-weight: 300;
		}

		> div {
			margin-bottom: 0.5rem;

		}

	}

	.button {
		height: 100%;
		display: flex;
		align-items: center;
		padding: 1.25em 0.75rem;
		color: rgba(61, 85, 151, 0.97);
		i {

			margin-right: 0.5em;
			font-size: 2.5em;
			flex-shrink: 0;
			color: rgba(26, 26, 23, 0.67);
			text-align: left;
		}

		h3 {
			font-size: 1.25em;
			margin-top: 0;
			color: #1C1C1B;
		}


		@include media-breakpoint-up(md) {
			//flex-direction: column;
			padding: 2em 0.5rem;
			i {
				margin-right: 0.25em;
				font-size: 3em;
		    }

			h3 {
				text-align: left;
				font-size: 1.25em;
				font-weight: normal;
			}
		}
	}
}
