#home-buttons {
	h1 {
		text-align: center;
		text-transform: uppercase;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-up(md) {
			margin: 0px 30px;
		};
		> div {
			margin-top: 10px;
			@include media-breakpoint-up(md) {
				margin-top:30px;
			};
		}
	}

	.dashboard-card{
		background-color: white;
		border-bottom:5px solid rgba(26, 26, 23, 0.67);
		border-radius: 0.25rem;
		&:hover {
			border-bottom:5px solid $info;
			@include shadow(4);
			.button {
				i, h3 {
					color: $info;
				}
			}

		}
	    @include shadow(3);
		@include animate();
		&-body{
			display: block;
			border-bottom: 1px solid #D1D5DB;
		}
		&-footer{
			padding:0.75rem 1rem;
			border-bottom-left-radius: 0.5rem;
			color: #7b7d80;
			:hover{
				i {
					color: $danger;
				}
			}
		}


	}

	.button {
		height: 100%;
		display: flex;
		align-items: center;
		padding: 1.25em 0.75rem;
		color: rgba(61, 85, 151, 0.97);
		i {

			margin-right: 0.5em;
			font-size: 2.5em;
			flex-shrink: 0;
			color: rgba(26, 26, 23, 0.67);
			text-align: left;
		}

		h3 {
			font-size: 1.25em;
			margin-top: 0;
			color: #1C1C1B;
		}


		@include media-breakpoint-up(md) {
			//flex-direction: column;
			padding: 2em 1rem;

			i {
				margin-right: 0.25em;
				font-size: 3em;
		    }

			h3 {
				text-align: left;
				font-size: 1.25em;
				font-weight: normal;
			}
		}
	}
}
