.alert-flash {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 10000;
    font-size:1.3rem;
    line-height: 1.5rem;
    vertical-align: middle;
}
@media screen and (max-width: 767px) {
    .alert-flash {
        position: fixed;
        left: 15px;
        bottom: 175px;
        width:95%;

    }
}