<li v-if="item.submenu.length">
    <a href="#"  :class="item.section==currentSection?'current':''"  class="nav-sub-toggle" v-on:click.prevent="open=!open">
        <i :class="item.iconClass"></i>{{item.title}}<i class="fas fa-caret-down dropdown-icon"></i>
    </a>
    <transition name="fade">
    <ul v-if="open" class="nav-sub-item">
        <li>
            <a :href="item.url" :target="item.target ? item.target : null"
               :class="item.section==currentSection?'current':''">
                <i :class="item.iconClass"></i>{{item.title}}
            </a>
        </li>
        <li v-for="(sub_item, index) in item.submenu" :key="index">
            <a :href="sub_item.url" :target="sub_item.target ? sub_item.target : null"
               :class="sub_item.section==currentSection?'current':''">
                <i :class="sub_item.iconClass"></i>{{sub_item.title}}
            </a>
        </li>
    </ul>
    </transition>
</li>
<li v-else>
    <a  :href="item.url" :target="item.target ? item.target : null"
        :class="item.section==currentSection?'current':''">
        <i :class="item.iconClass"></i>{{item.title}}
    </a>
</li>
