

$color-text: #303030;

// Navbar.
$header-trigger: 'sm';
$header-height: 60px;
$header-height-content: 50px;
$header-height-padding: ($header-height - $header-height-content) / 2;
$header-height-mobile: 50px;
$header-height-content-mobile: 40px;
$header-height-padding-mobile: ($header-height-mobile - $header-height-content-mobile) / 2;

$header-item-padding: 0.5em 1em;
$header-item-margin: 0 0;

// Table.
$table-border-width: 1px;
$table-border-color: rgba($color-3, 0.5);
$table-head-background: $primary;
$table-head-color: $color-1;
$table-head-cell-padding: 0.5em 1em;
$table-body-cell-padding: 0.3em 0.5em;
$table-alternate-rows: true;
$table-body-row-odd: $color-1;
$table-body-row-even: darken(white, 3);

// Buttons.
$button-border-radius: 3px;
$button-border-width: 1px;
$border-radius-box:	5px;

// Card.
$card-radius: 5px;
$card-padding: 1em;

// Forms.
$form-control-border-radius: 3px;
$form-control-border-size: 1px;
$form-control-border-color: $color-4;
$form-control-border-color-hover: $primary;
$form-control-placeholder-color: $color-3;
